package ${package.DaoImpl};

import org.springframework.stereotype.Repository;

import ${package.Dao}.${table.daoName};
import ${package.PO}.${po};
import ${superDaoImplClassPackage};

/**
 * <p>
 * ${table.comment}  Dao实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Repository
public class ${table.daoImplName} extends ${superDaoImplClass}<${po}> implements ${table.daoName} {


}
